body {
    background: url(images/currency.webp) no-repeat center center;
    background-size: cover;   
}
body, html {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.7);
}
.card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(117, 114, 114, 0.7); /* White background with 80% opacity */
    box-shadow: 0 0 30px 10px rgb(255, 52, 221);
    transition: transform 0.3s ease; 
    color:white;
}

.card:hover {
   transform: scale(1.05);
   box-shadow: 0 0 30px 10px rgb(8, 182, 240);
}

#converted-amount {
    color: #ff69b4; 
}

.gradient-text {
    background: linear-gradient(to bottom, rgb(255, 52, 221), rgb(8, 182, 240)); /* Define the gradient */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text fill color transparent */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color:rgb(255, 52, 221);
    font-weight: bold;
}

.converter {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.converter label, .converter select, .converter input {
    display: block;
    margin-bottom: 10px;
}

.converter button {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.converter button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 20px;
}

#historical-rates-container {
    margin-top: 20px;
}

#favorite-currency-pairs {
    margin-top: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#favorite-currency-pairs .favorite-pair {
    margin-bottom: 5px;
}

.favorite-pair {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust spacing as needed */
}

.favorite-pair button {
    margin-right: 5px; /* Adjust spacing between buttons */
}

.favorite-pair .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 0 5px;
    cursor: pointer;
}
